<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <!-- Bootstrap -->
        <link href="{{ asset('bundles/CmsBundle/bootstrap/css/bootstrap.css') }}" rel="stylesheet" id="main-theme-script">
        <link href="{{ asset('bundles/CmsBundle/css/themes/default.css') }}" rel="stylesheet" id="theme-specific-script">
        <link href="{{ asset('bundles/CmsBundle/bootstrap/css/bootstrap-responsive.css') }}" rel="stylesheet">

        <!-- Simplenso -->
        <link href="{{ asset('bundles/CmsBundle/css/simplenso.css') }}" rel="stylesheet">

        <!--[if lt IE 9]>
            <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
          <![endif]-->

    <body>
    {% block body %}{% endblock %}
    {% block javascripts %}
        <script type="text/javascript" src="https://www.google.com/jsapi"></script> 

        <!-- jQuery --> 
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script> 

        <!-- Bootstrap --> 
        <script src="{{ asset('bundles/CmsBundle/bootstrap/js/bootstrap.min.js') }}"></script>
      
    {% endblock %}
</body>
</html>
