
body {
    margin: 0;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 13px;
    line-height: 18px;
    color: #333333;
    background-color: #ffffff;
}

a {
    color: #0088cc;
    text-decoration: none;
}

a:hover {
    color: #005580;
    text-decoration: underline;
}

.container-fluid {
    padding-right: 20px;
    padding-left: 20px;
}

p {
    margin: 0 0 9px;
}

h1 {
  font-size: 25px;
  line-height: 36px;
}

h2 {
  font-size: 20px;
  line-height: 36px;
}

h3 {
  font-size: 15px;
  line-height: 27px;
}

hr {
    margin: 18px 0;
    border: 0;
    border-top: 1px solid #eeeeee;
    border-bottom: 1px solid #ffffff;
}

table{
     font-size:12px;
}