{# src/Dxs/CmsBundle/Resources/views/Default/form/categories.form.html.twig #}

{{ form_start(form) }}
    <fieldset>
        {{ form_errors(form) }}
      <div class="control-group">
          {% if id is defined %}
        <label class="control-label" for="id">ID </label>
        <div class="controls">
          {{ form_row(form.id) }}
          <p class="help-block"></p>
        </div>    
        {% endif %}
        <label class="control-label" for="categories">Category* </label>
        <div class="controls">
          {{ form_row(form.categories) }}
          <p class="help-block"></p>
        </div>
        <label class="control-label" for="slug">Slug </label>
        <div class="controls">
            {{ form_row(form.slug) }}
            <p class="help-block"></p>
        </div>          
      </div>
      <div class="form-actions">
        {{ form_row(form.save, { 'label': 'Save Changes' }) }} 
        {{ form_row(form._token) }} 
      </div>
    </fieldset>
{{ form_end(form) }}