{% extends '::front.html.twig' %}
{% block body %}
<div class="blog-masthead">
    <div class="container">
        <nav class="blog-nav">
            <a class="blog-nav-item active" href="{{ path('dxs_front_homepage') }}">Home</a>
        </nav>
    </div>
</div>

<div class="container">

    <div class="blog-header">
        <h1 class="blog-title">DX Solutions</h1>
    </div>

    <div class="row">

        <div class="col-sm-8 blog-main">

            <div class="blog-post">
                <p>Welcome to our website. Please select a category to see our services.</p>
                <hr>
                {% if products is defined %}
                    
                    {% for row in products %}
                        <h4>{{ row.products }}</a></h4>
                        <p>Price: {{ row.price }}</p>
                        <p>Category: {{ row.categoryid }}</p>
                        <p>{{ row.details }}</p>
                        <hr />
                    {% endfor %}
                
                
                {% endif %} 
            </div>

        </div>

        <div class="col-sm-3 col-sm-offset-1 blog-sidebar">

            <div class="sidebar-module">
                <h4>Services</h4>
                <ol class="list-unstyled">
                    {{ render(controller('DxsFrontBundle:Menu:index')) }}
                </ol>
            </div>

        </div>

    </div>

</div>
{% endblock %}