{% extends '::cms.html.twig' %}
{% block title %} {{ page_title }}{% endblock %}
{% block body %}

    {{ include('DxsCmsBundle:Default:menu.html.twig') }}

    <div class="container-fluid">
        <div class="row-fluid">

            {{ include('DxsCmsBundle:Default:left.html.twig') }}

            <div class="span10">

                <div class="row-fluid">

                    <div class="span1 action-btn round-all">
                        <a href="{{ path('dxs_cms_'~type, {'action': 'add','id': 0}) }}">
                            <div><i class="icon-pencil"></i></div>
                            <div><strong>Add</strong></div>        	
                        </a>
                    </div>

                    <div class="span1 action-btn round-all">
                        <a href="{{ path('dxs_cms_'~type, {'action': 'list','id': 0}) }}">
                            <div><i class="icon-align-justify"></i></div>
                            <div><strong>List</strong></div>        	
                        </a>
                    </div>
                    {% if id is defined %}        
                    <div class="span1 action-btn round-all">
                        <a href="{{ path('dxs_cms_'~type, {'action': 'delete','id': id}) }}" onclick="return confirm('Are you sure?');">
                            <div><i class="icon-trash"></i></div>
                            <div><strong>Delete</strong></div>        	
                        </a>
                    </div>
                    {% endif %}        
                </div>
                <!-- Table -->
                <div class="row-fluid">

                    <div class="span12">

                        <div class="box" id="box-0">
                           {% for flashMessage in app.session.flashbag.get('success') %}
                                <div class="alert alert-success">
                                    <a class="close" data-dismiss="alert" href="#">&times;</a>
                                    <strong>Success!</strong> {{ flashMessage }}
                                </div>
                            {% endfor %}
                            {% for flashMessage in app.session.flashbag.get('error') %}
                                <div class="alert alert-danger">
                                    <a class="close" data-dismiss="alert" href="#">&times;</a>
                                    <strong>Error!</strong> {{ flashMessage }}
                                </div>
                            {% endfor %}  
                            <h4 class="box-header round-top">{% if heading is defined %} {{ heading }} {% else %} {{ page_title }} {% endif %}
                                <a class="box-btn" title="toggle"><i class="icon-minus"></i></a>     
                            </h4>         

                            <div class="box-container-toggle">
                                <div class="box-content">                                    
                                    {% include('DxsCmsBundle:Default:Form/'~type~'.form.html.twig') %}                                    
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>  

        </div>
    </div>

    <footer>
        <p class="pull-right">DX Solutions</p>
    </footer>

</div>

{% endblock %}   
