{% extends '::cms.html.twig' %}

{% block body %}
    <body id="dashboard">
        {{ include('DxsCmsBundle:Default:menu.html.twig') }}

        <div class="container-fluid">
            <div class="row-fluid">
                {{ include('DxsCmsBundle:Default:left.html.twig') }}

                <div class="span10">
                    <div>
                        <ul class="breadcrumb">
                            <li>
                                <a href="">Dashboard</a>
                            </li>
                        </ul>
                    </div>

                    <div class="row-fluid">

                    </div>

                    <div class="row-fluid">

                        <div class="row-fluid">

                            <div class="span4" id="col4">

                                <div class="box" id="box-3">
                                    <h4 class="box-header round-top">Latest Categories
                                        <a class="box-btn" title="toggle"><i class="icon-minus"></i></a>     
                                    </h4>         
                                    <div class="box-container-toggle">
                                        <div class="box-content">
                                            <ul>
                                                
                                            </ul> 
                                        </div>
                                    </div>
                                </div>

                            </div>

                            <div class="span8" id="col6">

                                <div class="box" id="box-5">
                                    <h4 class="box-header round-top">Latest Products
                                        <a class="box-btn" title="toggle"><i class="icon-minus"></i></a>     
                                    </h4>         
                                    <div class="box-container-toggle">
                                        <div class="box-content">

                                            <ul>
                                                
                                            </ul>    
                                                
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>        


                    </div>
                </div>
                <div style="clear:both"></div>
                <footer>
                    <p>DX Solutions</p>
                </footer>

            </div>
    </body>
{% endblock %}   
