<div class="span2">
    <div class="member-box round-all"> 
        <a href=""><img src="{{ asset('bundles/CmsBundle/images/member_ph.png') }}" class="member-box-avatar" /></a>
        <span>
            <strong><a href="">{{ username }}</a></strong><br/>
            <strong>Super</strong><br/>
            <span class="member-box-links"><a class="label" href="{{ path('dxs_cms_logout') }}">Sign out</a></span>
        </span>
    </div>          
    <div class="sidebar-nav">
        <div class="well" style="padding: 8px 0;">
            <ul class="nav nav-list"> 
                <li class="nav-header">Main</li>        
                <li class=""><a href="{{ path('dxs_cms_dashboard') }}"><i class="icon-home"></i> Dashboard</a></li>
                <li><a href="{{ path('dxs_cms_logout') }}"><i class="icon-off"></i> Sign Out</a></li>

                <li class="nav-header">Define</li>
                <li class=""><a href="{{ path('dxs_cms_products', {'action': 'list','id': 0}) }}"><i class="icon-calendar"></i> Products</a></li>
                <li class=""><a href="{{ path('dxs_cms_categories', {'action': 'list','id': 0}) }}"><i class="icon-leaf"></i> Categories</a></li>
            </ul>
        </div>
    </div>
</div>
