{% extends '::cms.html.twig' %}
{% block body %}
<div class="container-fluid">
    <div class="row-fluid">
        <div class="span4">&nbsp;</div>
        <div class="span4">
            <div class="page-header">
                <h1>DX Solutions</h1>
            </div>
            <div class="box" style="width:450px;">
                <h4 class="box-header round-top">Welcome, Please sign-in</h4>
                <div class="box-container-toggle">
                    <div class="box-content">
                        {% if error is defined %}
                            <div class="alert alert-error">
                                <a class="close" data-dismiss="alert" href="#">&times;</a>
                                <strong>Error!</strong> {{ error }}
                            </div>
                        {% endif %}        
                        <form class="well form-search" action="{{ path('dxs_cms_login') }}" method="post">
                            
                                <h3>Sign in</h3><br />
                                <strong>Username (e-mail):</strong><br />
                                <input type="text" id="username" name="username" value="{{ username }}" />
                                <br /><br />
                                <strong>Password:</strong><br />
                                <input type="password" id="password" name="password" />
                                <br /><br />
                                <label class="inline uniform" for="remember">
                                    <input class="uniform_on" type="checkbox" id="remember" name="remember" />
                                    Remember me on this computer
                                </label>
                                <button type="submit" class="btn">login</button>
                                <br /><br />
                                
                        </form>
                    </div>
                </div>
            </div>
            <!--/span--> 
            <div class="span4">&nbsp;</div>
        </div>
        <!--/span--> 
    </div>
    <!--/row-->

    <footer>
        <p class="pull-right">Copyright DX Solutions</p>
    </footer>
</div>
{% endblock %}