<div class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container-fluid">
      <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </a>
      <a class="brand" href="">DX Solutions</a>
      
      <div class="btn-group pull-right">
           
        <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
          <i class="icon-user"></i> {{ username }}
          <span class="caret"></span>
        </a>
        
          <ul class="dropdown-menu">
          <li><a href="">Change Password</a></li>
          <li class="divider"></li>
          <li><a href="{{ path('dxs_cms_logout') }}">Sign out</a></li>
        </ul>
       
      </div>
      
      <div class="nav-collapse">
        <ul class="nav">
          
           
        </ul>
      </div>
    </div>
  </div>
</div>