{% extends '::cms.html.twig' %}
{% block title %}{{ page_title }}{% endblock %}
{% block body %}

    {{ include('DxsCmsBundle:Default:menu.html.twig') }}

    <div class="container-fluid">
        <div class="row-fluid">

            {{ include('DxsCmsBundle:Default:left.html.twig') }}

            <div class="span10">                

                <div class="row-fluid">

                    <div class="span1 action-btn round-all">
                        <a href="{{ path('dxs_cms_'~type, {'action': 'add','id': 0}) }}">
                            <div><i class="icon-pencil"></i></div>
                            <div><strong>Add</strong></div>        	
                        </a>
                    </div>

                </div>
                
                <!-- Table -->
                <div class="row-fluid">

                    <div class="span12">
                        
                        <div class="box" id="box-0">
                           {% for flashMessage in app.session.flashbag.get('success') %}
                                <div class="alert alert-success">
                                    <a class="close" data-dismiss="alert" href="#">&times;</a>
                                    <strong>Success!</strong> {{ flashMessage }}
                                </div>
                            {% endfor %}
                            {% for flashMessage in app.session.flashbag.get('error') %}
                                <div class="alert alert-success">
                                    <a class="close" data-dismiss="alert" href="#">&times;</a>
                                    <strong>Success!</strong> {{ flashMessage }}
                                </div>
                            {% endfor %}
                       
                       
                   
                            <h4 class="box-header round-top">{{ page_title }}
                                <a class="box-btn" title="toggle"><i class="icon-minus"></i></a>     
                            </h4>         
                               
                            <div class="box-container-toggle">
                                <div class="box-content">
                                   <table cellpadding="0" cellspacing="0" border="0" class="table table-striped table-bordered bootstrap-datatable" id="datatable">
                                        <thead>
                                            <tr>
                                                {% for item in grid_titles %}
                                                    <th>{{ item }}</th>
                                                {% endfor %}    
                                            </tr>
                                        </thead>                                        
                                        {% include('DxsCmsBundle:Default:List/'~type~'.list.html.twig') %}
                                    </table>            
                                </div>
                            </div>
                            
                        </div>
                    </div>
                </div>  

            </div>
        </div>

        <footer>
            <p class="pull-right">DX Solutions</p>
        </footer>

    </div>

{% endblock %}   
