{# src/Dxs/CmsBundle/Resources/views/Default/list/categories.list.html.twig #}
<tbody>
    {% for row in recordset %}
        <tr>   
            <td class="center">{{ row.id }}</td>
            <td class="center">{{ row.categories }}</td>
            <td class="center">{{ row.slug }}</td>
            <td class="center">
                <a class="label label-success" href="{{ path('dxs_cms_'~type, {'action': 'edit','id': row.id}) }}" rel="tooltip" title="Edit"><i class="icon-edit icon-white"></i> Edit</a>
                <a class="label label-important" href="{{ path('dxs_cms_'~type, {'action': 'delete','id': row.id}) }}" rel="tooltip" title="Delete" onclick="return confirm('Are you sure?');"><i class="icon-trash icon-white"></i> Delete</a>
            </td>
        </tr>   
    {% endfor %}
</tbody>